.sidebar{
  width: 250px;
  margin: 0; 
  padding: 0;
  position: fixed;
  background: #2578ec;
  height: 100%;
  overflow: auto;
  list-style: none;
  scrollbar-gutter: stable;
}

.sidebar h1 {
  display: block;
  padding: 10px;
  margin-top: 120px;
  text-align: center;
}

.sidebar li {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  float: left;
  line-height: 20px;
  position: relative;
  color: white;
}

.sidebar li a {
  padding: 10px;
  float: bottom;
  text-align: center;
  color: white;
  text-decoration: none;
  display: block;
  -o-transition: color .3s linear, background .3s linear;
  -webkit-transition: color .3s linear, background .3s linear;
  -moz-transition: color .3s linear, background .3s linear;
  transition: color .3s linear, background .3s linear;  
}

.sidebar li:hover:not(.active) > a{    
  background-color:#4a81f7;
  color: white;
}

.sidebar li.active > a{
  background-color:#7DB3FF;
  color:black;
}
  
.sidebar ul, .sidebar ul li ul {
    list-style: none;
    margin: 0;
    padding: 0;    
    display: none;
    position: absolute;
    z-index: 999;
    width: 100%;
    background: #4a81f7;
    position: static;
    box-sizing:border-box;
    -moz-box-sizing:border-box; 
    -webkit-box-sizing:border-box; 
}

.sidebar ul{
    top: 50px;
    left: 0;
}

.sidebar ul li{
    clear:both;
    width:100%;
}

.sidebar ul li a {
    width:100%;    
    display:block;
    float:left;
    clear:both;
    box-sizing:border-box;
    -moz-box-sizing:border-box; 
    -webkit-box-sizing:border-box;
}

.sidebar ul li:hover > a{
    background:rgb(229,228,226);
    color: white;
}

.sidebar li:hover ul, .sidebar li:hover ul li ul {
    display:block;
    font-size:smaller;
  }
 
  
div.content {
    margin-left: 250px;    
    padding: 60px 16px;
    height: 1000px;
}

body{
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 700px) {
  .sidebar {
      width: 100%;
      height: auto;
      position: relative;
  }
  .sidebar a {
      text-align: center;
      float: none;
  }
  .sidebar h1 {margin-top: 0px;}
  div.content {
    margin-left: 0;
    padding: 0; 
  }    
}
  